/*FONTS*
font-family: 'Anton', sans-serif;
font-family: 'Gentium Plus', serif;
font-family: 'Ubuntu', sans-serif;
*/
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
h1{
font-family: 'Anton', sans-serif;
}
p{
font-family: 'Ubuntu', sans-serif;
}
.footer-text {
	font-size: 14px;
	text-transform: capitalize;
	font-style: italic;
}
/*CONTAINER*/
.container{
	margin-top: 20px;
}
/*HEADING*/
h1, h2, h3, h4, h5{
	text-transform: capitalize;
	text-align: center;
}
.h1-text{
	margin: 10px auto;
	font-weight: bold;
}
#card-paragraph {
	text-align: center;
	font-style: italic;
	border: 1px solid #aec6df;
	border-radius: 5px;
	padding: 5px;
}
/*INPUTS*/
.container .input-main{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5% 20%;
}
.search-input{
	border: 2px solid #0d6efd;

}
.search-text{
	border: 2px solid #0d6efd;
	border-right: none;
	background-color: #0d6efd;
	color: #ffff;
	padding: auto 5px;
	font-weight: bold;
}
::placeholder{
	text-align: center;
	color: #ced4da !important;
}
/*EFFECTS*/
.hide {
			display: none;
}
/*BACKGROUND COLORS*/
.card-header{
	background-color: #0d6efd;
	color: #ffff;
}
.numbers {
	background-color: yellow;
}

.text {

	background-color: #0d6efd;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding: 10px 5px;
}
.text li {
	text-decoration: none;
	list-style-type: none;
	color: #ffff;
	display: block;
	min-width: 300px;
	max-width: 300px;
	background-color: #084298;
	margin: 2px;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}
/*FOOTER*/
.footer-text{
	text-align: center;
	padding: 5px;
}
/*DEVELOPER*/
#developerName{
	font-weight: bold;
}